.wrapper{
margin-left: 5px;
    position: relative;
    left: -188px;
    display: inline-block;
}
.component{
    margin-left: 5px;
}
.square{
    height: 20px;
    width: 20px;
    background-color: #b89edb;
    display: inline-block;
    margin-left: 10px;
}



.wrapper:hover{
    transition: left 1s ease-in-out;
    left: 0;

}
.bla {
    color : red
}
